
.flex {
    display: flex;
}

.content-wrapper {
    flex-direction: column;
    align-items: center;
}

.header {
    align-items: center;
    width: 673px;
    height: 70px;
    padding: 0 33px 10px;
    background-color: #8ab50a;
}

.logo {
    font-weight: 100;
    font-size: 35px;
    color: white;
}

.bold {
    font-family: 'Tahoma', sans-serif;
    font-weight: bold;
}

.navigation {
    align-items: center;
    width: 640px;
    height: 80px;
    padding: 1px;
}

.navigation-list {
    justify-content: space-between;
    width: 100%;  
}

.navigation-item-text:hover {
    color: #8ab50a;
    cursor: pointer; 
}

.navigation-item:not(:last-child)::after {
    content: url(../img/arrow.png);
    margin-left: 30px;
}

.navigation-item-text {
    font-size: 20px;
    font-family: Tahoma;
    letter-spacing: 0.5px;
}

.main-flex {
    width: 674px;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #eeeefb;
}
  
.maim-items {
    font-size: small;
}
  
.logo-main {
    font-size: 40px;
    padding: 5px 9px 25px 0px;
}

.logo-main span.bold {
    font-weight: bold;
}

.logo-main:hover {
    cursor: pointer;
}

.main-text {
    line-height: 1.3;
}

.main-color-text {
    color: #8ab50a;
}
  
.section-flex {
    display: flex;
    width: 674px;
    height: 250px;
}

.section-items {
    width: 245px;
    font-size: small;
    letter-spacing: -0.3px;
    padding: 18px 0 0 15px; 
}

.section-subtitle {
    font-size: 20px;
    padding: 5px 3px;
}

.section-subtitle:hover{
    cursor: pointer;
}

.vertical-middle-line {
    width: 0.8px;
    height: 210px;
    background-color: #eeeefb;
    margin: 0 auto;
    position: absolute;
    top: 370px;
    right: 850px;
}

.section-flex-item {
    font-size: small;
    padding: 20px 0 10px 30px;
}

.section-researchers {
   display: flex;
   padding: 0 0 5px 0;
}

.subtitle-items {
    padding: 0px 0px 0px 17px;
    letter-spacing: -0.3px;
}

.section-subtitle {
    font-size: 20px;
    padding: 2px 0 12px 0;
}

.middle-line {
    width: 410px;
    background-color: #eeeefb;
    border-style: solid;
    border-width: 0px;
    height: 1px;
    margin-left: -5px;
}

.section-services {
    display: flex;
    padding: 5px 0 0 0;
}

.footer-line {
    width: 670px;
    height: 5px;
    background-color: #eeeefb;
    border-style: solid;
    border-width: 0px;
    margin-top: 23px;
}

.footer-text {
    padding: 10px 22px;
    font-size: small;
    letter-spacing: -0.3px;
}